.App {
  text-align: center;
}

/* .transition-item {

} */

.transition-elem {
	transition: width 225ms cubic-bezier(0.0, 0, 0.2, 1);
	transition: margin-left 225ms cubic-bezier(0.0, 0, 0.2, 1);
}

.drawer-open {
	width: 100% - 240px;	/* Drawer width when it is open */
	margin-left: 240px;
}